*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

.nowrap{
  white-space: nowrap;
}

/* HEADER */

header {
  padding-bottom: 0.5rem;
  background-color: hsl(235, 77%, 15%);
}

header h1{
  font-family: Helvetica, sans-serif;
  letter-spacing: 0.3em;
  font-size: 2.5em;
  text-align: center;
  color: beige;
  padding: 0.5em 0;
}

/* HEADER NAV */

nav {
  color: whitesmoke;
  font-family: 'Courier New', Courier, monospace;
  width: 100%;
  letter-spacing: 0.1rem;
  font-weight:6000;
  font-size: 1rem;
  
}

ul{
  list-style: none;
  display: flex;
  height: 3rem;
  flex-flow: row;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
  text-align: center;
  column-gap: 5px;
}

hr {
  height: 67%;
}

a {
  position: relative;
  text-decoration: none;
  size: 18px;
  color:whitesmoke;
  width: 100%;
}

a::after {
  content: "";
  position: absolute;
  background-color: rgb(21, 167, 152);
  height: 0.25rem;
  width: 0;
  left: 0;
  bottom: -1rem;
}

a:hover {
  color: aliceblue;
}

a:hover::after {
  width: 100%;
}

.header__bigletter{
  font-size: 1.5em;
}

a:hover, a:focus {
  font-size: 1.05em;
  cursor:pointer;
  color: rgb(27, 171, 156);
  
}

/* BODY */

body {
  background-color: rgb(7, 7, 95);
  background-image: radial-gradient(rgb(27, 61, 130), rgba(54, 99, 211, 0.293),
  rgb(14, 42, 68));
  
  z-index: -1000;
}

section {
  padding: 2rem 2rem;
}

.sectionRigth {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.sectionLeft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

article {
  width: 35%;
  height: 20vh;
  border-radius: 1em;
  display: grid;
  grid-template-columns: 0% 100%;
  text-align:center;
  align-items: center;
}

.article__h2:hover {
  cursor: pointer;
}

div {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

P {
  padding: 1em;
  font-size: 1.5em;
  text-align: justify;
  padding-left: 1em;
}

p:hover {
  cursor:default;
}

.activeTextArea {
  font-family:monospace;
  color: beige;
  transform: scale(100%, 100%);
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.articleExtended {
  width: 100%;
  transition-duration: 1s;
  grid-template-columns: 60% 40%;
  width: 90%;
  height: 80vh;  
}

.articleRetract {
  width: 35%;
  transition-duration: 1s;
  background-color: black;
}

.lart {
  background-image: linear-gradient(to right, rgba(54, 99, 211, 0.293),
  rgb(27, 130, 96));
  
  
}

.rart {
  background-image: linear-gradient(to left, rgba(54, 99, 211, 0.293),
   rgb(27, 130, 96));
   direction: rtl;
}

.article__h2 {
  font-size: 5em;
  text-align: center;
  color: aliceblue;
  font-family:monospace;
}

.article__Text {
  font-family:monospace;
  color: beige;
  font-size: 2em;
}

